@import url('https://fonts.googleapis.com/css2?family=Nuosu+SIL&family=Roboto:wght@300;700&display=swap');
* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
.container   {
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}
.header {

}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.row:after {
    content: "";
    display: block;
    clear: both;
}
[class*=col-] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.col-md-3 {
    width: 25%;
}
.col-md-6 {
    width: 50%;
}