@import url('https://fonts.googleapis.com/css2?family=Nuosu+SIL&family=Roboto:wght@300;700&display=swap');
* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-image: url(images/patt.png);
}
.container   {
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}
.header {
background-color: rgba(255, 255, 255, 0.75);
padding: 25px 0;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.row:after, .menu:after {
    content: "";
    display: block;
    clear: both;
}
[class*=col-] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.col-md-3 {
    width: 25%;
}
.col-md-6 {
    width: 50%;
}
.menu li{
    float: left;
    width: 25%;
    height: 50px;
}
.menu a{
    display: block;
    height: 50px;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    font-size: 21px;
    color: #2c71b8;
}

